.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
.diplay{
  margin-top: 20px;
    
    
  
}
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="file"] {
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid #ccc;
      margin-bottom: 1rem;
      
    }

    button[type="submit"],
    button[type="button"] {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: none;
      margin-top: 1rem;
      font-size: 1rem;
      cursor: pointer;

      &:first-of-type {
        background-color: #4CAF50;
        color: #fff;
        margin-right: 1rem;
      }

      &:last-of-type {
        background-color: #f44336;
        color: #fff;
      }
    }
  }
}
