:root {
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #e1e1e1;
    --accent-color: teal;
    --hover-color: #008080;
}

.slider-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--primary-bg-color);
    position: relative;
    overflow: hidden;

    .arrow {
        width: 50px;
        height: 50px;
        background-color: var(--secondary-bg-color);
        border-radius: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        opacity: 0.5;
    }

    .slider-wrapper {
        height: 100%;
        display: flex;
        background-color: var(--accent-color);
        transition: all 1.5s ease-out;
        transform: translateX(0vw);

        .slides-bg {
            background-color: var(--accent-color);
        }

        .slides {
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;

            .slides-img {
                flex: 1;
                height: auto;
            }

            .slides-info {
                flex: 1;
                height: 80%;

                .title {
                    font-size: 70px;
                }

                .desc {
                    font-size: 20px;
                    margin: 50px 0;
                    font-weight: 500;
                    letter-spacing: 5px;
                }

                .buttonc {
                    padding: 10px;
                    font-size: 15px;
                    background-color: transparent;
                    cursor: pointer;
                    text-decoration: none;
                    border: 1px solid var(--accent-color);
                    color: var(--accent-color);

                    &:hover {
                        background-color: var(--hover-color);
                        color: #FFFFFF;
                        border: none;
                        font-weight: normal;
                        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                }
            }
        }
    }

    .left-arrow {
        left: 10px;
        z-index: 10;
    }

    .right-arrow {
        right: 10px;
        z-index: 10;
    }
}

.slick-prev {
    left: 0px !important;
    z-index: 5;
}

.slick-next {
    right: 0px !important;
    z-index: 5;
}

.slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .slider-container {
        height: 50vh;
    }

    .slides-img {
        flex: 1;
        height: auto;
        position: relative;
        bottom: 15rem;
    }
}

@media (max-width: 768px) {
    .slider-container {
        flex-direction: column;
        height: auto;
    }

    .slider-wrapper {
        height: auto;
    }

    .slides {
        flex-direction: column;
        height: auto;
    }

    .title {
        font-size: 40px;
    }

    .desc {
        font-size: 16px;
        margin: 30px 0;
    }

    .buttonc {
        padding: 8px;
        font-size: 14px;
    }

    /* Adjust other styles as needed for tablet screens */
}

@media (max-width: 480px) {
    .title {
        font-size: 30px;
    }

    .desc {
        font-size: 14px;
        margin: 20px 0;
    }

    .buttonc {
        padding: 6px;
        font-size: 12px;
    }

    /* Adjust other styles for smaller screens */
}