.slider-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #000000;
    position: relative;

    .arrow {
        width: 50px;
        height: 50px;
        background-color: rgb(225, 225, 225);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .left-arrow {
        left: 10px;
    }

    .right-arrow {
        right: 10px;

    }
}