.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.login-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 32px;
    //width: 350px;
    text-align: center;
    transition: transform 0.2s ease-in-out;

    h2 {
        font-size: 2rem;
        margin-bottom: 24px;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            font-size: 1.2rem;
            margin-bottom: 8px;
            text-align: left;
        }

        input {
            border-radius: 4px;
            border: 1px solid #ccc;
            padding: 8px 16px;
            margin-bottom: 16px;
            font-size: 1.2rem;
            //width: 100%;
        }

        button {
            background: #008080;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 12px 24px;
            font-size: 1.2rem;
            margin-top: 16px;
            cursor: pointer;
            transition: background 0.2s ease-in-out;

            &:hover {
                background: #006767;
            }
        }
    }

    p {
        margin-top: 16px;
        font-size: 1.2rem;

        a {
            color: #008080;
            text-decoration: none;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: #006767;
            }
        }
    }

    @media screen and (max-width: 480px) {
        width: 90%;
    }
}

.login-container.active {
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}